# Xcode user settings (Window positions, open files)
xcuserdata/

# Derived Data (Build artifacts)
DerivedData/

# Specific xcworkspace user data
*.xcworkspace/xcuserdata/
*.xcworkspace/xcshareddata/SwiftPM/

# Ignore shared workspace data and user-specific project settings
*.xcodeproj/project.xcworkspace/xcshareddata/
*.xcodeproj/xcuserdata/